{% extends 'fend/base.html' %}

{% block content %}

  <section class="about-me py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="https://www.kindpng.com/picc/m/144-1441251_anime-boy-free-desktop-background-boy-anime-transparent.png" alt="Profile Picture" class="img-fluid rounded-circle mb-4">
        </div>
        <div class="col-md-8">
          <h1 class="fw-bold mb-4">Harsh Kumar</h1>
          <h2 class="mb-4">Python Full-Stack Developer</h2>
          <p class="lead mb-4">Aspiring full-stack developer with expertise in Python, Django, and front-end technologies. Proficient in databases
            such as MySQL, SQLite, and PostgreSQL, with strong collaboration skills using Git. Passionate about innovation
            and staying current with the latest trends and technologies in software development.</p>
          <ul class="list-unstyled">
            <li><strong>Email:</strong> harshkumar7179@gmail.com</li>
            <li><strong>Phone:</strong> (+91) 8957356674</li>
            <li><strong>Location:</strong> Delhi NCR, India</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
        </div>
    </div>
  </section>
{% endblock %}
